.login__form {
     background: #7F5AF0;
     border-radius: 5px;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
     padding: 30px;
     margin: 0 auto;
     text-align: center;
}
body {
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
   }
   
   
   /* Define the styles for the input fields */
   .login_form input {
     width: 100%;
     padding: 12px;
     margin: 8px 0;
     box-sizing: border-box;
     border-radius: 5px;
     border: none;
     font-size: 1.2em;
   }
   
   /* Define the styles for the submit button */
   .login_form button {
     width: 100%;
     background-color: #4CAF50;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 5px;
     cursor: pointer;
   }